1_Data_Analysis/semana_13/día_1/ficheros_clase/biz.csv
1_Data_Analysis/semana_13/día_1/ficheros_clase/review_10.csv
1_Data_Analysis/semana_13/día_1/ficheros_clase/review.csv
1_Data_Analysis/semana_15/día_1/201906_Usage_Bicimad.json
